extends layout

block content
  div.container
    h1= beer.name
    div(class='panel panel-default')
      div(class='panel-body')
        p You are at the page of #{beer.brewery}'s #{beer.beertype} beer
        table(class='table table-bordered')
          tr
            th Name
            td= beer.name
          tr
            th Type
            td= beer.beertype
          tr
            th ABV
            td= beer.abv
          tr
            th Brewery
            td= beer.brewery

    div.well
        form(action='/#{beer.name}/comment', method='POST', enctype='application/x-www-form-urlencoded', role='form', class='form-horizontal')
          div(class='form-group')
            label(for='name', class='control-label col-sm-2') Name
            div(class='col-sm-10')
              input(type='text', id='name', name='name', class="form-control")

          div(class='form-group')
            label(for='comment', class='control-label col-sm-2') Comment
            div(class='col-sm-10')
              textarea(rows='3', id='comment', name='comment', class="form-control")
          div(class='form-group')
            div(class='col-sm-offset-2 col-sm-10')
              button(type='submit', class='btn btn-default') Submit
    h1 Kommentit
    div(class='panel-group')
      each review in beer.reviews
        div(class='panel panel-default')
          div(class='panel panel-body')
            b
              p= review.name
            p.text-muted= review.comment
            p(class='small text-right')= review.reviewdate
